{% extends 'SergeyTestBundle::layout.html.twig' %}

{% block header_scripts %}
    {{ tinymce_init() }}
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="active">
                        <td><span class="glyphicon glyphicon-th-list"></span></td>
                        <td><b>{{ "Instant messenger" | trans }}</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="active">
                            <td><span class="glyphicon glyphicon-user"></span></td>
                            <td>
                                <b>{{ "Friends list" | trans }}</b>
                                <a href="#" onclick="fb_friends();">
                                    <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://www.facebook.com/{{ app.user.facebookId }}" target="_blank">
                                    <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
                                </a>
                            </td>
                            <td>{{ app.user.firstName }} {{ app.user.lastName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

{% block footer_scripts %}
{% endblock %}

{% block modal_title %}
    {% if app.user  %}
        <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
        {{ app.user.firstName }} {{ app.user.lastName }} [ {{ "New message" }} ]
    {% endif %}
{% endblock modal_title %}
{% block modal_body %}
    {% form_theme form 'SergeyTestBundle:Form:form.html.twig' %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock modal_body %}
{% block modal_button %}
    <button type="button" class="btn btn-primary">{{ "Send" | trans}}</button>
{% endblock modal_button %}