{% extends 'SergeyTestBundle::layout.html.twig' %}

{% block header_scripts %}
    <link rel="stylesheet" href="{{ asset('bundles/sergeytest/css/main.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/sergeytest/js/messenger.js') }}"></script>
    {{ tinymce_init() }}
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="table-responsive">
                <div>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <img src="{{ asset('bundles/sergeytest/images/ajax-loader.gif') }}" class="js-refreshLoader pull-right hide">
                    <a href="#" onclick="im_update();">
                        <span class="glyphicon glyphicon-refresh pull-right js-refreshButton"></span>
                    </a>
                </div>

                <table class="table table-striped">
                    <tbody class="js-imContent" data-ajax-url="{{ url("messages_list_ajax") }}">
                    {% for message in messages %}
                        {% set user = message.user %}
                        <tr class="js-imRow"
                                            data-message-id="{{ message.id }}"
                                            data-edit-url="{{ url('edit_form_ajax') }}"
                                >
                            <td>
                                {% if app.user.id == user.id %}
                                    <span class="glyphicon glyphicon-pencil pull-right js-imEdit"></span>
                                {% endif %}
                                <img src="{{ user.photoFilename }}" alt="{{ user.firstName }} {{ user.lastName }}" class="img-rounded js-imAvatar" width="20">
                                <span class="js-imCreated small">{{ message.created | date("D M j Y H:i:s") }}</span>
                                <div class="container-fluid js-MessageContainer">
                                    <span class="js-imMessage">{{ message.message | raw }}</span>
                                </div>
                                <div class="container-fluid js-EditMessageContainer hide"></div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="js-imRow hide" id="imRow-prototype"
                                                 data-message-id=""
                                                 data-edit-url="{{ url('edit_form_ajax') }}"
                                                 data-user-id="{{ app.user.id }}"
                                        >
                        <td>
                            <span class="glyphicon glyphicon-pencil pull-right js-imEdit hide"></span>
                            <img src="" alt="" class="img-rounded js-imAvatar" width="20">
                            <span class="js-imCreated small"></span>
                            <div class="container-fluid js-MessageContainer">
                                <span class="js-imMessage"></span>
                            </div>
                            <div class="container-fluid js-EditMessageContainer hide"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="table-responsive">
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                    <b>{{ "Friends list" | trans }}</b>
                    <a href="#">
                        {% include 'SergeyTestBundle:Friends:friends.html.twig' only %}
                    </a>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://www.facebook.com/{{ app.user.facebookId }}" target="_blank">
                                    <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
                                </a>
                                {{ app.user.firstName }} {{ app.user.lastName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

{% block footer_scripts %}
{% endblock %}

{% block modal_title %}
    {% if app.user  %}
        <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
        {{ app.user.firstName }} {{ app.user.lastName }} [ {{ "New message" }} ]
    {% endif %}
{% endblock modal_title %}
{% block modal_body %}
    {% form_theme form 'SergeyTestBundle:Form:form.html.twig' %}
    {{ form_start(form, { 'attr': {'class': 'js-messageForm'} }) }}
        {{ form_widget(form.message) }}
        {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock modal_body %}
{% block modal_button %}
    <button type="button" class="btn btn-primary js-messageFormSubmit">{{ "Send" | trans}}</button>
{% endblock modal_button %}