{% extends 'SergeyTestBundle::layout.html.twig' %}

{% block header_scripts %}
    <link rel="stylesheet" href="{{asset('bundles/sergeytest/css/main.css')}}">
    <script type="text/javascript" src="{{ asset('bundles/sergeytest/js/messenger.js') }}"></script>
    {{ tinymce_init() }}
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="table-responsive">
                <div>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <a href="#" onclick="im_update();">
                        <span class="glyphicon glyphicon-refresh pull-right"></span>
                    </a>
                </div>

                <table class="table table-striped">
                    <tbody class="js-imContent" data-ajax-url="{{ url("messages_list_ajax") }}">
                        <tr class="js-imRow hide" id="imRow-prototype" data-message-id="0">
                            <td>
                                <span class="glyphicon glyphicon-pencil pull-right js-imEdit" data-toggle="modal" data-target="#chatModal"></span>
                                <img src="" alt="" class="img-rounded js-imAvatar" width="20">
                                <span class="js-imCreated"></span>
                                <div>
                                    <span class="js-imMessage"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="table-responsive">
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                    <b>{{ "Friends list" | trans }}</b>
                    <a href="#">
                        <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                    </a>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://www.facebook.com/{{ app.user.facebookId }}" target="_blank">
                                    <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
                                </a>
                                {{ app.user.firstName }} {{ app.user.lastName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

{% block footer_scripts %}

{% endblock %}

{% block modal_title %}
    {% if app.user  %}
        <img src="{{ app.user.photoFilename }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-rounded" width="20">
        {{ app.user.firstName }} {{ app.user.lastName }} [ {{ "New message" }} ]
    {% endif %}
{% endblock modal_title %}
{% block modal_body %}
    {% form_theme form 'SergeyTestBundle:Form:form.html.twig' %}
    {{ form_start(form, { 'attr': {'class': 'js-messageForm'} }) }}
    {{ form_widget(form.message) }}
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
{% endblock modal_body %}
{% block modal_button %}
    <button type="button" class="btn btn-primary js-messageFormSubmit">{{ "Send" | trans}}</button>
{% endblock modal_button %}